*{
    margin:0 auto;
    align-content: center;

}
.fixmenu{

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

.header{
background-color: black;
}
.nav{
  display: flex;
  align-items: center;
  margin:0;
  padding: 5px;
  background-color:#ffffff
}
a{
  margin-left: 130px;
  text-decoration: none;
  color:#000000;
  font-size: 18px;
    display: inline;
    font-family:arial
}
a:hover {
    text-decoration: underline;
  }
.main{
  padding-top:80px;
  background-color:black;
  letter-spacing: 20px;
  text-align: center;
  color:#ffffff;
  font-family:arial

}
#eagle{

  font-size: 100px;
}
#since{
  font-size: 20px;
  margin-top:1px;
  padding-bottom: 0px;
}
.carousel-item{
  height:550px;
  width:100%;
}


.section{
  background-color:#ffffff;
  padding:50px;
}
.gallery{
  display: flex;

}
#gl:hover{
  transform: scale(1.2);
transition: 1.2s all;
}
#gll:hover{
  transform: scale(1.2);
transition: 1.2s all;
}
#glll:hover{
  transform: scale(1.2);
transition: 1.2s all;
}
.cost {
 display:flex;
 margin-top:30px;
}
.cost p{
  line-height:40px;
  font-size: 20px;
  text-align: center;
  font-family:arial
}
.cost p:hover{
  color:red;
}
.section2{
  background-image: url(img/8.jpg);
  background-size: cover;
}
.section2 p{
  margin-top: 20px;
  font-size:30px;
  color:#ffffff;
  font-family:arial

}
.section2 h1{
  color:#ffffff;
  font-size:50px;
  font-family:arial

}
.o_nas{
  padding-bottom: 500px;
  padding-top:80px;
  margin-left:100px;
  margin-right:100px;
  text-align: center;
}
.footer{
  background-color:white;
  padding-top:30px;
}
.footer h1{
  text-align: center;
  color:#000000;
  font-size:50px;
  font-family:arial
}
.blockA{
  margin-left: 30px;
  text-align: center;
}
#nomer{
  color:  #ff9933;
}


.icon{
    width: 200px;
margin-left:600px;
    height: 70px;
    display: flex;
    justify-content: center;
}
.icon a{
margin-top: 12px;
margin-bottom: 29px;
  }
.icon ion-icon{
    color: #000000;
    font-size: 30px;

}
.icon ion-icon:hover{
    color: #ff7200;
    background-color:#ffffff
}
